#loanCalculator {
    margin: 10px auto 0;
}

#planDetailed {
    margin-right: 20px;
    margin-left: 20px;
}

#plan tr td:nth-child(7) {
    font-weight: bold;
}

#message {
    text-align: center;
    margin: 10px auto 0;
    font-weight: bold;
    width: 610px;
}

.jumbotron {
    padding: 0.5em 0.6em;
}

.jumbotron h1 {
    font-size: 2em;
}

.jumbotron p {
    font-size: 1.2em;
}